@import "tailwindcss";

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-Thin.woff2") format("woff2");
    font-weight: 100;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-Light.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-Medium.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-Bold.woff2") format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-ExtraBold.woff2") format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "Vazirmatn";
    src: url("./assets/fonts/Vazirmatn-Black.woff2") format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-ThinItalic.woff2") format("woff2");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./assets/fonts/JetBrainsMono-ExtraBoldItalic.woff2") format("woff2");
    font-weight: 800;
    font-style: italic;
}


@theme {
    --shadow-center: 0px 0px 20px 4px rgba(139, 92, 246, .6);
    --font-vazir: "Vazirmatn", sans-serif;
    --font-jetbrains: "JetBrains Mono", monospace;
}

@layer components {
    .progress-bar {
        @apply w-80 sm:w-100 h-2 sm:h-4 rounded-full overflow-hidden;
    }

    .progress-bar::-webkit-progress-bar {
        @apply bg-slate-900 rounded-full border border-gray-800;
    }

    .progress-bar::-webkit-progress-value {
        @apply rounded-full bg-linear-to-r from-blue-500 to-purple-500;
    }

    .progress-bar::-moz-progress-bar {
        @apply rounded-full bg-purple-500;
    }
}